body {
background-color:rgb(145,145,145);
	}
a,a:visited {
color:black;
font-size: 16px;
text-decoration: none;
}
a:hover{
color:white;
font-size: 16px;
}
.h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.nr {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 16px "Century Gothic";
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.nr h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.nr h1>span {
    display: block;
    font-size: 11px;
}
.nr label {
    display: block;
    margin: 0px 0px 5px;
}
